[package]
name = "rstsr-openblas"
version.workspace = true
edition.workspace = true

[dependencies]
rayon = { workspace = true }
num = { workspace = true }
rstsr-core = { workspace = true, features = ["rayon"] }
rstsr-dtype-traits = { workspace = true, features = ["half"] }
rstsr-openblas-ffi = { workspace = true }

[features]
faer = ["rstsr-core/faer"]
