name: rstsr-core tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unittests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: unittest
        run: cargo test -p rstsr-core --lib --release
      - name: unittest (common)
        run: cargo test -p rstsr-common --lib --release

  unittests-col-major:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: unittest
        run: cargo test -p rstsr-core --lib --release --no-default-features --features="std backtrace faer rayon col_major faer_as_default"
  
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: integrationtest
        run: cargo test -p rstsr-core --test "*" --release
